<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Downloader | Pro</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Video<span>Downloader</span></h1>
      </header>
      <main>
        <p class="description">Baixe seus vídeos favoritos em alta resolução instantaneamente.</p>
        
        <div class="input-group">
          <input type="text" id="video-url" placeholder="Cole a URL do vídeo aqui..." />
          <button id="download-btn">Baixar Vídeo</button>
        </div>
        
        <div id="status-message"></div>
      </main>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>